@page
@model Jordnaer.Pages.Items.DeleteMultipleModel
@{
    ViewData["Title"] = "Items";
}
<h2>Delete Multiple Items</h2>

<form method="post" asp-page-handler="DeleteSelected" asp-antiforgery="false">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemID</td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemPrice</td>
                    <td>@item.ItemDescription</td>
                    <td>@item.ItemType</td>
                    <td>
                        <input type="checkbox" name="SelectedItems" value="@item.ItemID" />

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-danger">Delete Selected Items</button>
</form>



